.gym-container {
    display: grid;
    grid-template-columns: 3.7fr 1.3fr;
}

.gym-main {
    display: grid;
    grid-template-columns: 5;
}

.header {
    color: blue;
    text-decoration: none;
    font-size: 56px;
    display: flex;
    margin: 80px;
    padding: 20;
    gap: 40px;
    text-align: center;
    align-items: center;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-left: 50px;
    margin-right: 50px;

}

.activity-container {

    background-color: #ADD8E6;
}



@media only screen and (max-width: 600px) {
    .exercise-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

}


@media screen and (min-width: 600px) {
    .exercise-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media screen and (min-width:1100px) {
    .exercise-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(3, 1fr);
    }

}